main{
    background-color: wheat;
    height: 600px;
}

h1{
    text-align: center;
    margin: 0px;
}

a{
    display: flex;
    background-color:grey;
    text-decoration: none;
    color:rgb(255, 255, 255);
    width: 20%;
    height: 2em;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    flex-direction: row;
}

div{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}