<main>
    <form>
        <div class="subject">
            <label for="annotation.title">Subject: </label>
            <input type="text" id="annotation.title" name="annotation.title" [(ngModel)]="annotation.title">
        </div>

        <div class="textbox">
            <label for="annotation.annotation">Annotation: </label>
            <textarea type="text" id="annotation.annotation" name="annotation.annotation" [(ngModel)]="annotation.annotation"></textarea>
        </div>
    </form>

    <button type="button" (click)="createAnnotation()">Save</button>
    <button type="button" (click)="cancel()">Cancel</button>
</main>

