.returnButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.returnButton > button {
  margin-top: 20px;
  padding: 5px;
  border-radius: 4px;
  background-color: lightgray;
  width: 15%;
}

.returnButton > button:hover {
  background-color: rgb(117, 114, 114);
}

.rowButton{
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 20px;
}

.rowButton > button {
  margin: 5px 0px;
  padding: 5px;
  border-radius: 4px;
  background-color: lightgray;
  width: 5em;
  color:black;
}

.rowButton > button:hover {
  background-color: rgb(117, 114, 114);
}

.dropDowns{
  display: flex;
  flex-direction: row;
}
