<main>
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2
      class="mb-8 text-4xl font-bold text-gray-900 dark:text-white ml-[-2rem]"
    >
      Make a report
    </h2>
    <form #reportForm="ngForm">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <label
            for="report.title"
            [ngClass]="{
              'block mb-2 text-sm font-medium ': true,
              'text-gray-900 dark:text-white': !(
                reportTitle.invalid && reportTitle.touched
              ),
              'text-red-700 dark:text-red-500':
                reportTitle.invalid && reportTitle.touched
            }"
            >Subject</label
          >
          <input
            type="text"
            name="report.title"
            id="report.title"
            #reportTitle="ngModel"
            [ngClass]="{
              'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': true,
              'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block  dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                reportTitle.invalid && reportTitle.touched
            }"
            placeholder="Title"
            required
            minlength="4"
            [(ngModel)]="report.title"
          />
          <div
            *ngIf="
              reportTitle.invalid && (reportTitle.dirty || reportTitle.touched)
            "
            class="mt-2 text-sm text-red-600 dark:text-red-500"
          >
            <div *ngIf="reportTitle.hasError('required')">
              Title is required.
            </div>
            <div *ngIf="reportTitle.hasError('minlength')">
              Title must be at least 4 characters long.
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label
            for="report.location"
            [ngClass]="{
              'block mb-2 text-sm font-medium ': true,
              'text-gray-900 dark:text-white': !(
                reportLocation.invalid && reportLocation.touched
              ),
              'text-red-700 dark:text-red-500':
                reportLocation.invalid && reportLocation.touched
            }"
            >Primary Location of Incident(s)</label
          >
          <input
            type="text"
            name="report.location"
            id="report.location"
            #reportLocation="ngModel"
            [ngClass]="{
              'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': true,
              'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block  dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                reportLocation.invalid && reportLocation.touched
            }"
            placeholder="Location"
            required
            [(ngModel)]="report.location"
          />
          <div
            *ngIf="
              reportLocation.invalid &&
              (reportLocation.dirty || reportLocation.touched)
            "
            class="mt-2 text-sm text-red-600 dark:text-red-500"
          >
            <div *ngIf="reportLocation.hasError('required')">
              Location is required.
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label
            for="report.category_id"
            [ngClass]="{
              'block mb-2 text-sm font-medium': true,
              'text-gray-900 dark:text-white': !(
                reportCategory.invalid && reportCategory.touched
              ),
              'text-red-700 dark:text-red-500':
                reportCategory.invalid && reportCategory.touched
            }"
            >Crime Category</label
          >
          <select
            id="report.category_id"
            name="report.category_id"
            #reportCategory="ngModel"
            [(ngModel)]="report.category_id"
            [ngClass]="{
              'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': true,
              'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block  dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                reportCategory.invalid && reportCategory.touched
            }"
            pattern="^[1-9]\d*$"
          >
            <option value="0" disabled>Select category</option>
            @for(category of categories; track category.id){
            <option value="{{ category.id }}">
              {{ category.category_name }}
            </option>
            }
          </select>
          <div
            *ngIf="
              reportCategory.invalid &&
              (reportCategory.dirty || reportCategory.touched)
            "
            class="mt-2 text-sm text-red-600 dark:text-red-500"
          >
            <div *ngIf="reportCategory.hasError('pattern')">
              Must select category
            </div>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label
            for="report.description"
            [ngClass]="{
              'block mb-2 text-sm font-medium': true,
              'text-gray-900 dark:text-white': !(
                reportDescription.invalid && reportDescription.touched
              ),
              'text-red-700 dark:text-red-500':
                reportDescription.invalid && reportDescription.touched
            }"
            >Description</label
          >
          <textarea
            id="report.description"
            name="report.description"
            #reportDescription="ngModel"
            [(ngModel)]="report.description"
            rows="8"
            [ngClass]="{
              'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': true,
              'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block  dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                reportDescription.invalid && reportDescription.touched
            }"
            placeholder="Your description here"
            required
            minlength="4"
          ></textarea>
          <div
            *ngIf="
              reportDescription.invalid &&
              (reportDescription.dirty || reportDescription.touched)
            "
            class="mt-2 text-sm text-red-600 dark:text-red-500"
          >
            <div *ngIf="reportDescription.hasError('required')">
              Description is required.
            </div>
            <div *ngIf="reportDescription.hasError('minlength')">
              Description must be at least 4 characters long.
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-between space-x-4">
        <div class="flex items-center space-x-4">
          <button
            type="submit"
            [disabled]="!reportForm.form.valid"
            class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800"
            (click)="submitReport()"
          >
            Send Report
          </button>
          <button
            type="button"
            (click)="returnToHome()"
            class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 rounded-full dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          >
            Cancel
          </button>
        </div>
        <button
          type="button"
          data-modal-target="newBusinessModal"
          data-modal-show="newBusinessModal"
          class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-lime-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-lime-900 hover:bg-lime-800"
        >
          Add Business
        </button>
      </div>
    </form>
  </div>

  <div class="py-6 px-4 mx-auto max-w-4xl lg:py-8">
    @if(buis_entities.length > 0){
    <h2 class="text-3xl font-bold text-gray-900 dark:text-white">
      Business Entities
    </h2>
    <form class="buisness_entity">
      @for(entity of buis_entities; track $index){
      <app-buisness-card
        [buis_entity]="entity"
        (updateEvent)="updateBuisnessEntity($index, $event)"
        (deleteEvent)="removeBuisnessEntity($index)"
      ></app-buisness-card>
      }
    </form>
    }
  </div>
</main>

<!-- New business entity modal -->
<div
  [attr.id]="'newBusinessModal'"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full"
>
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div
      class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
    >
      <!-- Modal header -->
      <div
        class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600"
      >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          New Buisness Association
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
          [attr.data-modal-hide]="'newBusinessModal'"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form #addBusinessForm="ngForm">
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div class="sm:col-span-2">
            <label
              for="buis_entity.name"
              [ngClass]="{
                'block mb-2 text-sm font-medium ': true,
                'text-gray-900 dark:text-white': !(
                  updateBusinessFormName.invalid &&
                  updateBusinessFormName.touched
                ),
                'text-red-700 dark:text-red-500':
                  updateBusinessFormName.invalid &&
                  updateBusinessFormName.touched
              }"
              >Business Name</label
            >
            <input
              type="text"
              name="buis_entity.name"
              id="buis_entity.name"
              #updateBusinessFormName="ngModel"
              [(ngModel)]="buis_entity.name"
              [ngClass]="{
                'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': true,
                'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block  dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                  updateBusinessFormName.invalid &&
                  updateBusinessFormName.touched
              }"
              placeholder="Enter business name"
              required
            />
            <div
              *ngIf="
                updateBusinessFormName.invalid &&
                (updateBusinessFormName.dirty || updateBusinessFormName.touched)
              "
              class="mt-2 text-sm text-red-600 dark:text-red-500"
            >
              <div *ngIf="updateBusinessFormName.hasError('required')">
                Business name is required.
              </div>
            </div>
          </div>

          <div class="sm:col-span-2">
            <label
              for="buis_entity.address"
              [ngClass]="{
                'block mb-2 text-sm font-medium ': true,
                'text-gray-900 dark:text-white': !(
                  updateBusinessFormAddress.invalid &&
                  updateBusinessFormAddress.touched
                ),
                'text-red-700 dark:text-red-500':
                  updateBusinessFormAddress.invalid &&
                  updateBusinessFormAddress.touched
              }"
              >Business Address</label
            >
            <input
              type="text"
              name="buis_entity.address"
              id="buis_entity.address"
              #updateBusinessFormAddress="ngModel"
              [(ngModel)]="buis_entity.address"
              [ngClass]="{
                'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': true,
                'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block  dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                  updateBusinessFormAddress.invalid &&
                  updateBusinessFormAddress.touched
              }"
              placeholder="Enter business address"
              required
            />
            <div
              *ngIf="
                updateBusinessFormAddress.invalid &&
                (updateBusinessFormAddress.dirty ||
                  updateBusinessFormAddress.touched)
              "
              class="mt-2 text-sm text-red-600 dark:text-red-500"
            >
              <div *ngIf="updateBusinessFormAddress.hasError('required')">
                Business address is required.
              </div>
            </div>
          </div>

          <div>
            <label
              for="buis_entity.relation"
              [ngClass]="{
                'block mb-2 text-sm font-medium ': true,
                'text-gray-900 dark:text-white': !(
                  updateBusinessFormRelation.invalid &&
                  updateBusinessFormRelation.touched
                ),
                'text-red-700 dark:text-red-500':
                  updateBusinessFormRelation.invalid &&
                  updateBusinessFormRelation.touched
              }"
              >Relation to Crime</label
            >
            <input
              type="text"
              name="buis_entity.relation"
              id="buis_entity.relation"
              #updateBusinessFormRelation="ngModel"
              [(ngModel)]="buis_entity.relation"
              [ngClass]="{
                'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': true,
                'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block  dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                  updateBusinessFormRelation.invalid &&
                  updateBusinessFormRelation.touched
              }"
              placeholder="Enter relation to crime (e.g. Suspect)"
              required
            />
            <div
              *ngIf="
                updateBusinessFormRelation.invalid &&
                (updateBusinessFormRelation.dirty ||
                  updateBusinessFormRelation.touched)
              "
              class="mt-2 text-sm text-red-600 dark:text-red-500"
            >
              <div *ngIf="updateBusinessFormRelation.hasError('required')">
                Relation is required.
              </div>
            </div>
          </div>

          <div>
            <label
              for="buis_entity.industry"
              [ngClass]="{
                'block mb-2 text-sm font-medium ': true,
                'text-gray-900 dark:text-white': !(
                  updateBusinessFormIndustry.invalid &&
                  updateBusinessFormIndustry.touched
                ),
                'text-red-700 dark:text-red-500':
                  updateBusinessFormIndustry.invalid &&
                  updateBusinessFormIndustry.touched
              }"
              >Industry</label
            >
            <input
              type="text"
              name="buis_entity.industry"
              id="buis_entity.industry"
              #updateBusinessFormIndustry="ngModel"
              [(ngModel)]="buis_entity.industry"
              [ngClass]="{
                'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': true,
                'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block  dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                  updateBusinessFormIndustry.invalid &&
                  updateBusinessFormIndustry.touched
              }"
              placeholder="Enter industry"
              required
            />
            <div
              *ngIf="
                updateBusinessFormIndustry.invalid &&
                (updateBusinessFormIndustry.dirty ||
                  updateBusinessFormIndustry.touched)
              "
              class="mt-2 text-sm text-red-600 dark:text-red-500"
            >
              <div *ngIf="updateBusinessFormIndustry.hasError('required')">
                Industry is required.
              </div>
            </div>
          </div>

          <div>
            <label
              for="buis_entity.phone"
              [ngClass]="{
                'block mb-2 text-sm font-medium ': true,
                'text-gray-900 dark:text-white': !(
                  updateBusinessFormPhone.invalid &&
                  updateBusinessFormPhone.touched
                ),
                'text-red-700 dark:text-red-500':
                  updateBusinessFormPhone.invalid &&
                  updateBusinessFormPhone.touched
              }"
              >Phone Number</label
            >
            <input
              type="text"
              name="buis_entity.phone"
              id="buis_entity.phone"
              #updateBusinessFormPhone="ngModel"
              [(ngModel)]="buis_entity.phone"
              [ngClass]="{
                'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': true,
                'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block  dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                  updateBusinessFormPhone.invalid &&
                  updateBusinessFormPhone.touched
              }"
              placeholder="Enter business phone number"
              required
              pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$"
            />
            <div
              *ngIf="
                updateBusinessFormPhone.invalid &&
                (updateBusinessFormPhone.dirty ||
                  updateBusinessFormPhone.touched)
              "
              class="mt-2 text-sm text-red-600 dark:text-red-500"
            >
              <div *ngIf="updateBusinessFormPhone.hasError('required')">
                Phone number is required.
              </div>
              <div *ngIf="updateBusinessFormPhone.hasError('pattern')">
                Enter a valid phone number.
              </div>
            </div>
          </div>

          <div>
            <label
              for="buis_entity.email"
              [ngClass]="{
                'block mb-2 text-sm font-medium ': true,
                'text-gray-900 dark:text-white': !(
                  updateBusinessFormEmail.invalid &&
                  updateBusinessFormEmail.touched
                ),
                'text-red-700 dark:text-red-500':
                  updateBusinessFormEmail.invalid &&
                  updateBusinessFormEmail.touched
              }"
              >Email</label
            >
            <input
              type="text"
              name="buis_entity.email"
              id="buis_entity.email"
              #updateBusinessFormEmail="ngModel"
              [(ngModel)]="buis_entity.email"
              [ngClass]="{
                'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': true,
                'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block  dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                  updateBusinessFormEmail.invalid &&
                  updateBusinessFormEmail.touched
              }"
              placeholder="Enter business email"
              required
              pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
            />
            <div
              *ngIf="
                updateBusinessFormEmail.invalid &&
                (updateBusinessFormEmail.dirty ||
                  updateBusinessFormEmail.touched)
              "
              class="mt-2 text-sm text-red-600 dark:text-red-500"
            >
              <div *ngIf="updateBusinessFormEmail.hasError('required')">
                Email is required.
              </div>
              <div *ngIf="updateBusinessFormEmail.hasError('pattern')">
                Enter a valid email.
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center space-x-4 mt-2">
          <button
            type="submit"
            [disabled]="!addBusinessForm.form.valid"
            [attr.data-modal-hide]="'newBusinessModal'"
            (click)="addBuisnessEntity(); addBusinessForm.resetForm()"
            class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-lime-700 dark:hover:bg-lime-800 dark:focus:ring-lime-900"
          >
            Add Business
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- !New business entity modal -->
