main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.subject>input{
    width: 100%;
}

.textbox>textarea{
    width:100%;
    display: block;
    height: 400px;
}

form{
    width: 60%;
}

.field>input{
    width: 50%;
}

.report{
    margin-bottom: 20px;
}

.entity_list_element{
    margin-bottom: 30px;
}

p{
    display: inline-block;
    margin:0px 0px 3px .5em;
}

span, label{
    font-weight: bold;
}