<main>
  <section class="">
    <div class="py-4 px-4 mx-auto max-w-6xl">
      <div
        class="border-2 border-gray-200 dark:border-slate-700 rounded-2xl px-24 py-10 shadow-2xl dark:bg-slate-800"
      >
        <h2
          class="mb-1 text-xl font-extrabold leading-none text-gray-900 md:text-2xl dark:text-white"
        >
          {{ buis_entity.name }}
        </h2>
        <dd class="mb-0 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
          {{ buis_entity.relation }}
        </dd>
        <dl>
          <dt
            class="mb-2 font-semibold leading-none text-gray-900 dark:text-white"
          >
            Address
          </dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
            {{ buis_entity.address }}
          </dd>
        </dl>
        <dl class="flex items-center space-x-6">
          <div>
            <dt
              class="mb-2 font-semibold leading-none text-gray-900 dark:text-white"
            >
              Industry
            </dt>
            <dd
              class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400"
            >
              {{ buis_entity.industry }}
            </dd>
          </div>
          <div>
            <dt
              class="mb-2 font-semibold leading-none text-gray-900 dark:text-white"
            >
              Email
            </dt>
            <dd
              class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400"
            >
              {{ buis_entity.email }}
            </dd>
          </div>
          <div>
            <dt
              class="mb-2 font-semibold leading-none text-gray-900 dark:text-white"
            >
              Phone Number
            </dt>
            <dd
              class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400"
            >
              {{ buis_entity.phone }}
            </dd>
          </div>
        </dl>
        <div class="flex items-center space-x-4">
          <button
            type="button"
            id="updateBusinessButton"
            [attr.data-modal-target]="'updateBusinessModal' + buis_entity.id"
            [attr.data-modal-show]="'updateBusinessModal' + buis_entity.id"
            class="text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            <svg
              aria-hidden="true"
              class="mr-1 -ml-1 w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"
              ></path>
              <path
                fill-rule="evenodd"
                d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                clip-rule="evenodd"
              ></path>
            </svg>
            Edit
          </button>
          <button
            type="button"
            (click)="deleteEntity()"
            class="inline-flex items-center text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5 mr-1.5 -ml-1"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                clip-rule="evenodd"
              ></path>
            </svg>
            Delete
          </button>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Edit business entity modal -->
<div
  [attr.id]="'updateBusinessModal' + buis_entity.id"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full"
>
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <div
      class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
    >
      <!-- Modal header -->
      <div
        class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600"
      >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Update Business
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
          [attr.data-modal-hide]="'updateBusinessModal' + buis_entity.id"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form #updateBusinessForm="ngForm">
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
          <div class="sm:col-span-2">
            <label
              for="buis_entity_form.name"
              [ngClass]="{
                'block mb-2 text-sm font-medium ': true,
                'text-gray-900 dark:text-white': !(
                  updateBusinessFormName.invalid &&
                  updateBusinessFormName.touched
                ),
                'text-red-700 dark:text-red-500':
                  updateBusinessFormName.invalid &&
                  updateBusinessFormName.touched
              }"
              >Business Name</label
            >
            <input
              type="text"
              name="buis_entity_form.name"
              id="buis_entity_form.name"
              #updateBusinessFormName="ngModel"
              [(ngModel)]="buis_entity_form.name"
              [ngClass]="{
                'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': true,
                'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block  dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                  updateBusinessFormName.invalid &&
                  updateBusinessFormName.touched
              }"
              placeholder="Enter business name"
              required
            />
            <div
              *ngIf="
                updateBusinessFormName.invalid &&
                (updateBusinessFormName.dirty || updateBusinessFormName.touched)
              "
              class="mt-2 text-sm text-red-600 dark:text-red-500"
            >
              <div *ngIf="updateBusinessFormName.hasError('required')">
                Business name is required.
              </div>
            </div>
          </div>

          <div class="sm:col-span-2">
            <label
              for="buis_entity_form.address"
              [ngClass]="{
                'block mb-2 text-sm font-medium ': true,
                'text-gray-900 dark:text-white': !(
                  updateBusinessFormAddress.invalid &&
                  updateBusinessFormAddress.touched
                ),
                'text-red-700 dark:text-red-500':
                  updateBusinessFormAddress.invalid &&
                  updateBusinessFormAddress.touched
              }"
              >Business Address</label
            >
            <input
              type="text"
              name="buis_entity_form.address"
              id="buis_entity_form.address"
              #updateBusinessFormAddress="ngModel"
              [(ngModel)]="buis_entity_form.address"
              [ngClass]="{
                'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': true,
                'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block  dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                  updateBusinessFormAddress.invalid &&
                  updateBusinessFormAddress.touched
              }"
              placeholder="Enter business address"
              required
            />
            <div
              *ngIf="
                updateBusinessFormAddress.invalid &&
                (updateBusinessFormAddress.dirty ||
                  updateBusinessFormAddress.touched)
              "
              class="mt-2 text-sm text-red-600 dark:text-red-500"
            >
              <div *ngIf="updateBusinessFormAddress.hasError('required')">
                Business address is required.
              </div>
            </div>
          </div>

          <div>
            <label
              for="buis_entity_form.relation"
              [ngClass]="{
                'block mb-2 text-sm font-medium ': true,
                'text-gray-900 dark:text-white': !(
                  updateBusinessFormRelation.invalid &&
                  updateBusinessFormRelation.touched
                ),
                'text-red-700 dark:text-red-500':
                  updateBusinessFormRelation.invalid &&
                  updateBusinessFormRelation.touched
              }"
              >Relation to Crime</label
            >
            <input
              type="text"
              name="buis_entity_form.relation"
              id="buis_entity_form.relation"
              #updateBusinessFormRelation="ngModel"
              [(ngModel)]="buis_entity_form.relation"
              [ngClass]="{
                'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': true,
                'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block  dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                  updateBusinessFormRelation.invalid &&
                  updateBusinessFormRelation.touched
              }"
              placeholder="Enter relation to crime (e.g. Suspect)"
              required
            />
            <div
              *ngIf="
                updateBusinessFormRelation.invalid &&
                (updateBusinessFormRelation.dirty ||
                  updateBusinessFormRelation.touched)
              "
              class="mt-2 text-sm text-red-600 dark:text-red-500"
            >
              <div *ngIf="updateBusinessFormRelation.hasError('required')">
                Relation is required.
              </div>
            </div>
          </div>

          <div>
            <label
              for="buis_entity_form.industry"
              [ngClass]="{
                'block mb-2 text-sm font-medium ': true,
                'text-gray-900 dark:text-white': !(
                  updateBusinessFormIndustry.invalid &&
                  updateBusinessFormIndustry.touched
                ),
                'text-red-700 dark:text-red-500':
                  updateBusinessFormIndustry.invalid &&
                  updateBusinessFormIndustry.touched
              }"
              >Industry</label
            >
            <input
              type="text"
              name="buis_entity_form.industry"
              id="buis_entity_form.industry"
              #updateBusinessFormIndustry="ngModel"
              [(ngModel)]="buis_entity_form.industry"
              [ngClass]="{
                'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': true,
                'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block  dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                  updateBusinessFormIndustry.invalid &&
                  updateBusinessFormIndustry.touched
              }"
              placeholder="Enter industry"
              required
            />
            <div
              *ngIf="
                updateBusinessFormIndustry.invalid &&
                (updateBusinessFormIndustry.dirty ||
                  updateBusinessFormIndustry.touched)
              "
              class="mt-2 text-sm text-red-600 dark:text-red-500"
            >
              <div *ngIf="updateBusinessFormIndustry.hasError('required')">
                Industry is required.
              </div>
            </div>
          </div>

          <div>
            <label
              for="buis_entity_form.phone"
              [ngClass]="{
                'block mb-2 text-sm font-medium ': true,
                'text-gray-900 dark:text-white': !(
                  updateBusinessFormPhone.invalid &&
                  updateBusinessFormPhone.touched
                ),
                'text-red-700 dark:text-red-500':
                  updateBusinessFormPhone.invalid &&
                  updateBusinessFormPhone.touched
              }"
              >Phone Number</label
            >
            <input
              type="text"
              name="buis_entity_form.phone"
              id="buis_entity_form.phone"
              #updateBusinessFormPhone="ngModel"
              [(ngModel)]="buis_entity_form.phone"
              [ngClass]="{
                'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': true,
                'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block  dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                  updateBusinessFormPhone.invalid &&
                  updateBusinessFormPhone.touched
              }"
              placeholder="Enter business phone number"
              required
              pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$"
            />
            <div
              *ngIf="
                updateBusinessFormPhone.invalid &&
                (updateBusinessFormPhone.dirty ||
                  updateBusinessFormPhone.touched)
              "
              class="mt-2 text-sm text-red-600 dark:text-red-500"
            >
              <div *ngIf="updateBusinessFormPhone.hasError('required')">
                Phone number is required.
              </div>
              <div *ngIf="updateBusinessFormPhone.hasError('pattern')">
                Enter a valid phone number.
              </div>
            </div>
          </div>

          <div>
            <label
              for="buis_entity_form.email"
              [ngClass]="{
                'block mb-2 text-sm font-medium ': true,
                'text-gray-900 dark:text-white': !(
                  updateBusinessFormEmail.invalid &&
                  updateBusinessFormEmail.touched
                ),
                'text-red-700 dark:text-red-500':
                  updateBusinessFormEmail.invalid &&
                  updateBusinessFormEmail.touched
              }"
              >Email</label
            >
            <input
              type="text"
              name="buis_entity_form.email"
              id="buis_entity_form.email"
              #updateBusinessFormEmail="ngModel"
              [(ngModel)]="buis_entity_form.email"
              [ngClass]="{
                'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500': true,
                'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 block  dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                  updateBusinessFormEmail.invalid &&
                  updateBusinessFormEmail.touched
              }"
              placeholder="Enter business email"
              required
              pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
            />
            <div
              *ngIf="
                updateBusinessFormEmail.invalid &&
                (updateBusinessFormEmail.dirty ||
                  updateBusinessFormEmail.touched)
              "
              class="mt-2 text-sm text-red-600 dark:text-red-500"
            >
              <div *ngIf="updateBusinessFormEmail.hasError('required')">
                Email is required.
              </div>
              <div *ngIf="updateBusinessFormEmail.hasError('pattern')">
                Enter a valid email.
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center space-x-4 mt-2">
          <button
            type="submit"
            [disabled]="!updateBusinessForm.form.valid"
            (click)="updateEntity()"
            [attr.data-modal-hide]="'updateBusinessModal' + buis_entity.id"
            class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            Update business
          </button>
          <button
            type="button"
            (click)="resetForm()"
            class="text-red-600 inline-flex items-center hover:text-white border border-red-600 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900"
          >
            <svg
              class="mr-1 -ml-1 w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 9h13a5 5 0 0 1 0 10H7M3 9l4-4M3 9l4 4"
              />
            </svg>

            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- !Edit business entity modal -->
