th, td{
    border-style: solid;
    padding: 5px;
}

tr{
    margin-bottom: 10px;
}

.spacedButton{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.navButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}