<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl text-center">
    <a
      routerLink=""
      class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <img
        src="https://i.imgur.com/MYfaIgz.png"
        class="h-12 mx-4"
        alt="Fraud Fighters Logo"
      />
      Fraud Fighters
    </a>
    <p class="my-6 text-gray-500 dark:text-gray-400">
      Fraud Fighters is a platform for securely reporting and managing financial
      crimes to promote transparency and accountability.
    </p>
    <ul
      class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white"
    >
      <li>
        <a routerLink="" class="mr-4 hover:underline md:mr-6">Home</a>
      </li>
      <li>
        <a routerLink="userLanding" class="mr-4 hover:underline md:mr-6"
          >Dashboard</a
        >
      </li>
      <li>
        @if (user.userId) {
        <a
          routerLink="userLanding/userReport"
          class="mr-4 hover:underline md:mr-6"
          >Create Report</a
        >
        } @else {
        <a routerLink="anonymous" class="mr-4 hover:underline md:mr-6"
          >Create Report</a
        >
        }
      </li>

      <li>
        <a routerLink="" class="mr-4 hover:underline md:mr-6">About</a>
      </li>
      <li>
        <a routerLink="" class="mr-4 hover:underline md:mr-6">Contact</a>
      </li>
    </ul>
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 <a routerLink="" class="hover:underline">Fraud Fighters™</a>. All
      Rights Reserved.</span
    >
  </div>
</footer>
